# SmallRNA config file  -*- conf -*-
pipeline_directory: ${pipeline-directory}
data_sub_directory: ${pipeline-process-directory}
"Model::SmallRNAModel":
  schema_class: 'SmallRNA::DB'
  connect_info:
     - "dbi:Pg:dbname=${database-name};host=${database-host}"
     - '${database-user-name}'
     - '${database-password}'
programs:
  ssaha:
    path: /applications/ssaha_v31c_amd64/ssaha_v31c_amd64
    process_class: SmallRNA::Process::SSAHASearchProcess
  patman:
    path: /applications/patman-1.2.1/patman
    process_class: SmallRNA::Process::PatmanAlignmentProcess
  bwa:
    path: /applications/bwa/bwa-0.4.9/bwa
    process_class: SmallRNA::Process::BWASearchProcess
  samtools:
    path: /applications/samtools-svn-trunk/samtools/samtools
  srf2fastq:
    path: /applications/io_lib-1-12-1/progs/srf2fastq
databases:
  root: /data/public_data
  organisms:
    Arabidopsis_thaliana:
      database_files:
        genome: arabidopsis/TAIR_8/arabidopsis_nuclear_genome
        genome-tair9: arabidopsis/TAIR_9/arabidopsis_nuclear_genome
        trna: PipelinePublicData/genomic_tRNA_database/genomic_tRNA_database_20080929/Athal-tRNAs.fa
        mirbase-hairpin: PipelinePublicData/mirBASE_release_14.0/split/hairpin/Arabidopsis_thaliana.fa
        mirbase-mature: PipelinePublicData/mirBASE_release_14.0/split/mature/Arabidopsis_thaliana.fa
        mirbase-maturestar: PipelinePublicData/mirBASE_release_14.0/split/maturestar/Arabidopsis_thaliana.fa
        mrna: arabidopsis/TAIR_8_cdna/TAIR8_cdna_20080412
    Solanum_lycopersicon:
      database_files:
        genome-old: tomato/v340/bacs.v340.seq.20081007121008.reformatted
        genome: tomato/pre_release_assembly_20091201/S_lycopersicum_scaffolds_20091201.reformatted.fa
        ests: tomato/est_sequences/solanum_lycopersicum_mRNA_2008_10_21.seq
        concat_ests: tomato/est_sequences/solanum_lycopersicum_mRNA_2008_10_21_concatenated.dna
    Carmovirus_turnip_crinkle_virus:
      database_files:
        genome: TCV/TCV.fa
    Oryza_sativa:
      database_files:
        genome: rice/Oryza_sativa/IRGSP_Build5/nuclear_genome.fasta
    Benyvirus_rice_stripe_virus:
      database_files:
        genome: viruses/Benyvirus/rice_stripe_virus_isolate_Zhejiang.fasta
    Chlamydomonas_reinhardtii:
      database_files:
        genome: chlamydomonas/20090120_chlamy_assembly4/C_reinhardtii.main_genome.scaffolds_plus_unmapped_scaffolds.fasta
