# SmallRNA config file  -*- conf -*-
name: SmallRNA::Web
long_name: SmallRNA Tracking
pipeline_directory: ${pipeline-directory}
data_sub_directory: ${pipeline-process-directory}
authentication:
  default_realm: 'members'
  realms:
    members:
      credential:
        class: 'Password'
        password_field: 'password'
        password_type: 'clear'
      store:
        class: DBIx::Class
        user_class: Person
        id_field: username
"Model::SmallRNAModel":
  schema_class: 'SmallRNA::DB'
  connect_info:
     - "dbi:Pg:dbname=${database-name};host=${database-host}"
     - '${database-user-name}'
     - '${database-password}'
programs:
  ssaha:
    path: /applications/ssaha_v31c_amd64/ssaha_v31c_amd64
  bwa:
    path: /applications/bwa/bwa-0.4.9/bwa
  samtools:
    path: /applications/samtools-svn-trunk/samtools/samtools
databases:
  root: /data/public_data
  organisms:
    Arabidopsis_thaliana:
      database_files:
        genome: arabidopsis/TAIR_8/arabidopsis_nuclear_genome
        trna: PipelinePublicData/genomic_tRNA_database/genomic_tRNA_database_20080929/Athal-tRNAs.fa
    Lycopersicon_esculentum:
      database_files:
        genome: tomato/v340/bacs.v340.seq.20081007121008
    Solanum_lycopersicon:
      database_files:
        genome: tomato/v340/bacs.v340.seq.20081007121008
    Carmovirus_turnip_crinkle_virus:
      database_files:
        genome: TCV/TCV.fa
    Oryza_sativa:
      database_files:
        genome: rice/Oryza_sativa/IRGSP_Build5/nuclear_genome.fasta
    Benyvirus_rice_stripe_virus:
      database_files:
        genome: viruses/Benyvirus/rice_stripe_virus_isolate_Zhejiang.fasta
    Chlamydomonas_reinhardtii:
      database_files:
        genome: chlamydomonas/20090120_chlamy_assembly4/C_reinhardtii.main_genome.scaffolds_plus_unmapped_scaffolds.fasta
